.nav-links {
    display: flex;
    align-items: center;
    gap: 20px; 
    font-size: 18px;
}
.nav-links a {
    text-decoration: none;
    color: black;

    
    
}
.nav-links a:hover {
    color: red;
}
.logo-text{
    color:red;
    font-size: 25px;
    font-weight: bold;

}
.logo-text2{
    color:green;
    font-size: 20px;
    font-weight: bold;

}